body{
    background-color: #eef7f7;
}
.background{
    background-repeat: no-repeat;
    background-size: 100%;
}
.cardnya{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.cardlogin{
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px black;;
}

.form-signin input{
    border-radius: 20px;
}
.form-signin button{
    border-radius: 20px;
}