body{
    background-color: #eef7f7;
}
.background{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.cardnya{
    margin-top: 7%;
    font-family: 'Times New Roman', Times, serif;
}

.cardlogin{
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px black;;
}

.form-signin input{
    border-radius: 20px;
}
.form-signin button{
    border-radius: 20px;
}